<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749520310769-erhvneivk4rr865okorg8bb31mrlmbkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749520310769-erhvneivk4rr865okorg8bb31mrlmbkc</string>
	<key>API_KEY</key>
	<string>AIzaSyDNnnYuoqry8v5BsVpWKjpnTrYk_bw2rt0</string>
	<key>GCM_SENDER_ID</key>
	<string>749520310769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hopebox</string>
	<key>PROJECT_ID</key>
	<string>hopebox-74d00</string>
	<key>STORAGE_BUCKET</key>
	<string>hopebox-74d00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749520310769:ios:15587b484dde9dbb483450</string>
	<key>DATABASE_URL</key>
	<string>https://hopebox-74d00.firebaseio.com</string>
</dict>
</plist>